{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1 class="logoText">НетМаркет</h1>
    </div>

    <div class="navigation">
        <a class="navlink" href="/">Главная</a>
        <a class="navlink" href="/products">Товары</a>
        <a class="navlink" href="/discounts">Акции</a>
    </div>
</div>


<div class="productList">

    {% for product in products %}
<div class="product">
    <img class="productPreview" src="{{ product.image_url }}">
    <div>
        <a href="/product/{{ product.id }}">
            <h2>{{ product.name }}</h2>
        </a>
        <p>{{ product.description }}</p>
    </div>
    <div class="priceSection">
        <h3>{{ product.price }} ₽</h3>
        <button>Купить</button>
    </div>
</div>
    {% endfor %}

</div>




<!--{% load static %}-->

<!--<link rel="stylesheet" href="{% static 'style.css' %}"/>-->







<!--<div class="heading">-->
<!--    <div class="logo">-->
<!--        <h1>НетМаркет</h1>-->
<!--    </div>-->

<!--    <div class="navigation">-->
<!--        <a href="/">Главная</a>-->
<!--        <a href="/products">Товары</a>-->
<!--        <a href="/discounts">Акции</a>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="product_List">-->

<!--    {% for product in products %}-->
<!--<div class="product">-->
<!--    <img src="https://goodbox.pro/uploads/goods-images/22522646e3df1343675b32c4cd7c28b6.webp">-->
<!--    <div>-->
<!--        <h2>Моноколесо</h2>-->
<!--        <p>Откройте новые горизонты с моноколесом - инновационным средством передвижения, которое дарит невероятные приключения и свободу. Ощутите ветер в волосах, будьте уникальными, выберите моноколесо для ярких моментов каждый день.</p>-->
<!--    </div>-->

<!--    <div class="priceSection">-->
<!--        <h3>19 900 ₽</h3>-->
<!--        <button>Купить</button>-->
<!--    </div>-->

<!--        {% endfor %}-->
<!--</div>-->

<!--<div class="product">-->
<!--    <img src="https://cdn1.ozone.ru/s3/multimedia-a/6549163198.jpg">-->
<!--&lt;!&ndash;    <img class="productPreview" src="{{ product.image_url }}">&ndash;&gt;-->
<!--    <div>-->
<!--        <h2>Смарт часы</h2>-->
<!--        <p>Освойте мир умных технологий с смарт-часами! Поддерживайте связь, следите за фитнесом, ориентируйтесь на GPS - все это в стильном и функциональном устройстве. Сделайте свою жизнь проще и удобнее с смарт-часами!</p>-->
<!--    </div>-->
<!--    <div class="priceSection">-->
<!--        <h3>19 900 ₽</h3>-->
<!--        <button>Купить</button>-->
<!--    </div>-->

<!--</div>-->

<!--</div>-->

