<style>
    * {
        font-family: Arial;
    h1 {
    color: #0077FF
    }
    h2 {
    color: #0077FF
    }
    html {
    background: url('');
    }
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }

    .product {
        display: flex;
        border: 2px #0077FF solid;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
    }
    .heading {
        display: flex;
        align-items: center;
    }

    a {
        margin-left: 10px;
    }








</style>






<div class="heading">
    <h1 style="font-family: Arial">НетМаркет</h1>
    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/discounts">Акции</a>
</div>
<div class="product">
    <img src="https://goodbox.pro/uploads/goods-images/22522646e3df1343675b32c4cd7c28b6.webp">
    <div>
        <h2>Моноколесо</h2>
        <p>Откройте новые горизонты с моноколесом - инновационным средством передвижения, которое дарит невероятные приключения и свободу. Ощутите ветер в волосах, будьте уникальными, выберите моноколесо для ярких моментов каждый день.</p>
    </div>
    <button>Купить</button>
</div>

<div class="product">
    <img src="https://cdn1.ozone.ru/s3/multimedia-a/6549163198.jpg">
    <div>
        <h2>Смарт часы</h2>
        <p>Освойте мир умных технологий с смарт-часами! Поддерживайте связь, следите за фитнесом, ориентируйтесь на GPS - все это в стильном и функциональном устройстве. Сделайте свою жизнь проще и удобнее с смарт-часами!</p>
    </div>
    <button>Купить</button>
</div>
